<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.BookMapper">

    <select id="bookList" resultType="com.example.entity.BookDTO">
        select * from booktbl order by title desc
    </select>

    <insert id="bookInsert" parameterType="com.example.entity.BookDTO">
        insert into booktbl(title, price, name, page)
        values(#{title}, #{price}, #{name}, #{page})
    </insert>

    <!--
    <select id="userLogin"
            resultType="com.example.entityUserDTO"
            parameterType="com.example.entityUserDTO">
        select * from usertbl
        where username=#{username} and password=#{password}
    </select>
    -->
    <delete id="bookDelete" parameterType="int">
        delete from booktbl where num=#{num}
    </delete>
    
    <select id="getByNum" resultType="com.example.entity.BookDTO" parameterType="int">
        select*from booktbl
        where num = #{num}
    </select>

    <update id="bookUpdate" parameterType="com.example.entity.BookDTO">
        update booktbl
        set title=#{title}, price=#{price},  name=#{name}, page=#{page}
        where num=#{num}
    </update>

</mapper>